*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(../multimedia/fonts/Roboto/Roboto-Bold.ttf);
}

/*######### body ###########*/

.body {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

/*######### Nav Bar ###########*/
.nav{
    background-color: #191919;
    position: fixed;
    top: 0;
    margin-bottom: 50px;
    width: 100%;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
}
.nav-list{
    text-align: center;
}
.nav-list li{
 display: inline-block;
 margin: 40px;
}
.nav-link{
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
}
.nav-logo{
    color: #6dacbd;
    font-family: 'Roboto';
}
/************************************************/

.container{
    margin: 20px;
}

.section img{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.section p{
    text-align: justify;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.carrousel-fotos{
    margin-left: 10px;
    margin-right: 10px;
}



